<html>
    <head>
        <title>Abi's blog</title>
        <div>
          <center>
            <h1>WELCOME</h1>
            <h2>to my blog!</h2>
          </center>
        </div>
    </head>

    <body>
        <div>
            <h3>Hello!<h3>
            <p>My name is Abi and I enjoy lettering and artsy things! Check out some of my work below :)</p>
        </div>

        <div>
            <img src= "http://tinyurl.com/y84yraqj">
            <img src= "http://tinyurl.com/ydfn9xnc">
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>
